{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks", "jsx-a11y", "jest", "prettier"],
  "extends": [
    "eslint:recommended",
    "airbnb",
    "airbnb/hooks",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:jest/recommended",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "commonjs": true,
    "mocha": true,
    "jasmine": true,
    "jest": true,
    "amd": true
  },
  "globals": {
    "jsdom": true,
    "document": false,
    "expect": false,
    "jest": false
  },
  "rules": {
    "no-prototype-builtins": 0,
    "no-unused-vars": 0,
    "func-names": 0,
    "no-array-constructor": 0,
    "no-new-object": 0,
    "new-cap": 0,
    "prefer-promise-reject-errors": 0,
    "no-restricted-syntax": 0,
  }
}
